body{
  min-height: 100vh;
  background: linear-gradient(black,red)
}
span{
  background-color: red;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 50px white;
  display: flex;
  
 
}
